
<span><button  class="btn btn-info" (click)="rollDice1()" [disabled]="disable1">Player1 Dice</button>
   <p style="margin-left: 15px">Dice Value for P1 : {{diceValue1}}</p>
   <p style="margin-left: 15px">The position of Player1: {{pos1}}</p> 
</span>
<span><button  class="btn btn-info" (click)="rollDice2()" [disabled]="disable2">Player2 Dice</button>
    <p style="margin-left: 15px">Dice Value for P2 : {{diceValue2}}</p>
    <p style="margin-left: 15px">The position of Player2: {{pos2}}</p>  
 </span>
 <span><button  class="btn btn-info" (click)="StartGame()">Restart Game</button>
    
</span>

 <!-- <button (click)="print()">console</button> -->
